<div
  class="shadow-sm font-extrabold absolute bottom-0 w-full bg-red-600 h-24 px-[24px] sm:px-[60px] md:px-[80px] lg:px-[120px] text-white flex justify-center items-center"
>
  Made By Raeven Villarel @ 2025
</div>
