<div
  class=" shadow-sm font-extrabold absolute top-0 w-full bg-white h-16 px-[24px] sm:px-[60px] md:px-[80px] lg:px-[120px] text-red-500 flex justify-start items-center"
>
  <form action="/company" class="inline">
    <button class="" type="submit">POLYTRON Training</button>
</form>
</div>
